<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <title>Guestbook</title>
</head>
<body>
    <table>
        <thead>
            <th> Id </th>
            <th> Name </th>
            <th> Message </th>
            <th> Date </th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}"> Id </span></td>
                <td><span th:text="${user.name}"> Name </span></td>
                <td><span th:text="${user.message}"> Message </span></td>
                <td><span th:text="${#dates.format(user.creationDate, 'dd-MMM-yyyy')}"></span></td>
            </tr>
        </tbody>
    </table>
    <h2>Enter new message</h2>

    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Message: <input type="text" th:field="*{message}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

<!--    <form action="#" th:action="@{/users}" th:object="${form}" method="post">-->
<!--        <fieldset>-->
<!--            <span>-->
<!--                <input type="submit" th:value="Save">-->
<!--                <input type="reset" th:value="Reset"/>-->
<!--            </span>-->
<!--            <table>-->
<!--                <tbody>-->
<!--                <tr th:each="user, itemStat : *{users}">-->
<!--                    <td><input th:field="*{users[__${itemStat.index}__].name}" required/></td>-->
<!--                    <td><input th:field="*{users[__${itemStat.index}__].address}" required/></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </fieldset>-->
<!--    </form>-->

</body>
</html>